<h1>Artiify 만들기</h1> 
<form action="/artii/show">
  <div class="form-group">
    <label for="exampleInputEmail1">변경할 글자</label>
    <select name="fonts">
        <option value="standard">standard</option>
        <option value="doh">doh</option>
        <option value="big">big</option>
        <option value="slant">slant</option>
        <option value="acrobatic">acrobatic</option>
        <option value="thin">thin</option>
    </select>
    <input type="text" name="inputtext" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="enter text">
    </div>
  <button type="submit" class="btn btn-primary">만들기</button>
</form>
