<h3>Ruby 를 이용한 웹사이트 만들기</h3>
<ul>
  <li>
    <a href="/post/index">Post</a>
    게시판 만들기 
  </li>
  <li>
    <a href="/user/index">User List</a>
    회원 관리 
  </li>
  <li>
    <a href="/lotto/index">Lotto</a>
    로또 API 활용하기
  </li>
  <li>
    <a href="/artii/index">Artii</a>
    Artii 문자 만들기
  </li>
  <li>
    <a href="/asked/index">Asked</a>
    질문하기 앱 만들기 
  </li>
</ul>